<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Haxoft | Software Solutions</title>

<meta name="description" content="Project website created within the module Planspiel Web Engineering, at TU Chemnitz." />

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900|Audiowide' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" type="image/png" href="_include/img/logo/HaXoft.png">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>
<script src="_include/js/jquery-3.1.1.min.js"></script>

<!-- Analytics -->
<!--<script type="text/javascript">-->

  <!--var _gaq = _gaq || [];-->
  <!--_gaq.push(['_setAccount', 'Insert Your Code']);-->
  <!--_gaq.push(['_trackPageview']);-->

  <!--(function() {-->
    <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
    <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
    <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
  <!--})();-->

<!--</script>-->
<!-- End Analytics -->

</head>

<body>

<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">	
    <div class="overlay"></div>

    <div class="slider-text">
    	<div id="slidecaption"></div>
    </div>   
	
	<div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#values"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="HAXOFT | Software Solutions">HAXOFT</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li class="current"><a href="#home-slider">Home</a></li>
                <li><a href="#values">Our Values</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
				<!--<li><a href="shortcodes.html" class="external">Shortcodes</a></li>-->
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<!-- Our Values Section -->
<div id="values" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Our Values</h2>
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <div class="row">
            <div class="span12">
                <ul id="circle-container" class="nav nav-tabs">
                    <li id="passion-nav" class="active"><a href="#passion" data-toggle="tab" > <span class="font-icon-heart"></span> </a></li>
                    <li id="excellence-nav"><a href="#excellence" data-toggle="tab" > <span class="font-icon-magic"></span> </a></li>
                    <li id="honesty-nav"><a href="#honesty" data-toggle="tab" > <span class="font-icon-certificate"></span> </a></li>
                    <li id="respect-nav"><a href="#respect" data-toggle="tab" > <span class="font-icon-user-border"></span> </a></li>
                    <li id="humble-nav"><a href="#humble" data-toggle="tab" > <span class="font-icon-group"></span> </a></li>
                    <li id="blame-nav"><a href="#blame" data-toggle="tab" > <span class="font-icon-bolt"></span> </a></li>
                    <li id="healthiness-nav"><a href="#healthiness" data-toggle="tab" > <span class="font-icon-plus-sign"></span> </a></li>
                    <li id="celebrate-nav"><a href="#celebrate" data-toggle="tab" > <span class="font-icon-glass"></span> </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div class="tab-content" id="values-content">
                    <div class="tab-pane fade in active" id="passion">
                        <h3 class="tab-title">Work with Passion</h3>
                        <h3>We are not just here to work, but also to have fun.</h3>
                    </div>
                    <div class="tab-pane fade" id="excellence">
                        <h3 class="tab-title">Deliver Excellence</h3>
                        <h3>Good is the enemy of great, and we only deliver the great.</h3>
                    </div>
                    <div class="tab-pane fade" id="honesty">
                        <h3 class="tab-title">Honesty and Sincerity</h3>
                        <h3>Being honest with our collegues and customers. We don't lie to sell.</h3>
                    </div>
                    <div class="tab-pane fade" id="respect">
                        <h3 class="tab-title">Respect</h3>
                        <h3>Treat others the way you want to be treated.</h3>
                    </div>
                    <div class="tab-pane fade" id="humble">
                        <h3 class="tab-title">Be humble</h3>
                        <h3>Even if you're the boss, don't forget that every voice matters. You are still as much human as anyone else.</h3>
                    </div>
                    <div class="tab-pane fade" id="blame">
                        <h3 class="tab-title">No blame game</h3>
                        <h3>Don't blame others, work on a solution instead.</h3>
                    </div>
                    <div class="tab-pane fade" id="healthiness">
                        <h3 class="tab-title">Healthiness</h3>
                        <h3>We care for each other's health, both mental and physical.</h3>
                    </div>
                    <div class="tab-pane fade" id="celebrate">
                        <h3 class="tab-title">Celebrate Success</h3>
                        <h3>When we are successful in reaching a goal, we throw a party.</h3>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var circleContainer = document.getElementById("circle-container");
            var valuesContents = document.getElementById("values-content").getElementsByTagName("h3");
            
            var icons = circleContainer.getElementsByTagName("span");
        
            var passion = document.getElementById("passion-nav");
            var excellence = document.getElementById("excellence-nav");
            var honesty = document.getElementById("honesty-nav");
            var respect = document.getElementById("respect-nav");
            var humble = document.getElementById("humble-nav");
            var blame = document.getElementById("blame-nav");
            var healthiness = document.getElementById("healthiness-nav");
            var celebrate = document.getElementById("celebrate-nav");
            
            // order important!
            var allNavs = [honesty,respect,humble,blame,healthiness,celebrate,passion,excellence];
            
            var currentRotation = 0;
            var radius = 200;
            var baseIconFontSize = 36;
            var baseTextFontSize = 24;
            
            window.onresize = function() {
                radius = Math.min(200, 200 * circleContainer.offsetWidth / 480);
                updateIconSize();
                updateCircleContainerMargin();
                updatePositions(currentRotation, true);
                updateTextSize();
            }
            
            updateIconSize();
            updateCircleContainerMargin();
            updatePositions(0);
            updateTextSize();

            passion.firstChild.onclick = function() {
                updatePositions(0);
            }
            excellence.firstChild.onclick = function() {
                updatePositions(-45);
            }
            honesty.firstChild.onclick = function() {
                updatePositions(-90);
            }
            respect.firstChild.onclick = function() {
                updatePositions(-135);
            }
            humble.firstChild.onclick = function() {
                updatePositions(-180);
            }
            blame.firstChild.onclick = function() {
                updatePositions(-225);
            }
            healthiness.firstChild.onclick = function() {
                updatePositions(-270);
            }
            celebrate.firstChild.onclick = function() {
                updatePositions(-315);
            }
            
            function updatePositions(newRotation, isInstant) {
                while (newRotation > currentRotation) {
                    newRotation -= 360;
                }
                
                var transitionTime;
                if (isInstant) {
                    transitionTime = 0;
                } else {
                    var transitionTime = (currentRotation - newRotation) / 180;
                    if (transitionTime < 1) transitionTime = 1;
                }
                
                for (var i = 0; i < allNavs.length; i++) {
                    var nav = allNavs[i];
                    var rotation = newRotation + i*45;
                    nav.style.transition = "transform " + transitionTime + "s ease-in-out";
                    nav.style.transform = "rotate(" + rotation + "deg) translateX(" + radius + "px) rotate(" + (-rotation) + "deg)";
                }
                
                currentRotation = newRotation;
            }
            
            function updateIconSize() {
                for (var i = 0; i < icons.length; i++) {
                    var newIconFontSize = baseIconFontSize * icons[i].parentNode.offsetWidth / 100;
                    icons[i].style.fontSize = newIconFontSize + "px";
                }
            }
            
            function updateCircleContainerMargin() {
                circleContainer.style.marginBottom = Math.min(60, 60 * circleContainer.offsetWidth / 480 ) + "px";
                circleContainer.style.marginTop = Math.min(30, Math.max(0, 30 - 60 * (480 - circleContainer.offsetWidth) / 480)) + "px";
            }
            
            function updateTextSize() {
                for (var i = 0; i < valuesContents.length; i++) {
                    valuesContents[i].style.fontSize = 24 - (12 * (480 - circleContainer.offsetWidth) / 480) + "px";
                }
            }
        </script>
    </div>
</div>
<!-- End Our Values Section -->

<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">About Us</h2>
                <h3 class="title-description">Learn About our Team &amp; Culture.</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- People -->
    <div class="row">
    	
        <!-- Start Profile -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Software Developer</span>
                </div>
                <img src="_include/img/profile/frank.jpg" alt="Frank Siegel">
            </div>
            <h3 class="profile-name">Frank Siegel</h3>
            <p class="profile-description">
                Frank is a computer scientist and software developer from the city of Scheibenberg, Germany. In 2015 he graduated with a Bachelor degree in Applied Computer Science,
                writing his thesis about "Client-side Encryption of Sensitive Date in SQL-Databases in the Cloud". In addition to his studies he works as a student assistant and
                student employee in the development of Web Applications.<br/>
                He loves Jesus, music and dumb jokes.
            </p>
            	
            <div class="social">
            	<ul class="social-icons">
                	<li><a href="http://www.twitter.com/wurstslayer" target="_blank"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="http://www.facebook.com/frank.siegel.11010100101001" target="_blank"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Software Developer</span>
                </div>
                <img src="_include/img/profile/valentin.jpg" alt="Valentin Siegert">
            </div>
            <h3 class="profile-name">Valentin Siegert</h3>
            <p class="profile-description">
                Born in Schwabach, Germany, Valentin soon decided to become a software developer. Therefore he studied Computer Science at the University of Stuttgart
                and achieved the Bachelor degree with his thesis about "Performance Profiling of a Parallelization Framework for Complex-Event-Processing Operators". For his Master degree 
                in Web Engineering he then moved to the University of Technology Chemnitz, where he also works as a student assistant.<br/>
                When he is not coding, you'll probably find him dancing, playing Volleyball and all kinds of other games or meeting with his friends.
            </p>
            	
            <div class="social">
            	<ul class="social-icons">
					<li><a href="http://www.twitter.com/N0omB" target="_blank"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/valentin.siegert" target="_blank"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
        <!-- Start Profile -->
    	<div class="span4 profile">
        	<div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Software Developer</span>
                </div>
                <img src="_include/img/profile/luis.jpg" alt="Luis Moreno">
            </div>
            <h3 class="profile-name">Luis Moreno</h3>
            <p class="profile-description">
                Through his life Luis came across multiple countries. Born in Mexico he went to Prague to begin his studies in Software Engineering, which he then finished with his thesis
                "Managerial Tool for Operational Monitoring of Production Processes". Afterwards he proceeded to the University of Technology Chemnitz, where he is now working on his
                Master degree in Web Engineering. Additionally he spends some of his time as a student assistant.<br/>
                While not at work, he is most likely doing one of two things, travelling or programming.
            </p>
            	
            <div class="social">
            	<ul class="social-icons">
                    <li><a href="https://www.linkedin.com/in/luismorenocz" target="_blank"><i class="font-icon-social-linkedin"></i></a></li>
                    <li><a href="https://plus.google.com/103727832495995773747" target="_blank"><i class="font-icon-social-google-plus"></i></a></li>
                    <li><a href="https://www.facebook.com/luis.moreno.710" target="_blank"><i class="font-icon-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End Profile -->
        
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->


<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Get in Touch</h2>
                <h3 class="title-description">We’re currently working on the Planspiel Web Engineering project. Don't hesitate to contact us.</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
    <!-- Contact Form -->
    <div class="row">
    	<!--<div class="span9">-->

        	<!--<form id="contact-form" class="contact-form" action="#">-->
            	<!--<p class="contact-name">-->
            		<!--<input id="contact_name" type="text" placeholder="Full Name" value="" name="name" />-->
                <!--</p>-->
                <!--<p class="contact-email">-->
                	<!--<input id="contact_email" type="text" placeholder="Email Address" value="" name="email" />-->
                <!--</p>-->
                <!--<p class="contact-message">-->
                	<!--<textarea id="contact_message" placeholder="Your Message" name="message" rows="15" cols="40"></textarea>-->
                <!--</p>-->
                <!--<p class="contact-submit">-->
                	<!--<a id="contact-submit" class="submit" href="#">Send Your Email</a>-->
                <!--</p>-->
                <!---->
                <!--<div id="response">-->
                <!---->
                <!--</div>-->
            <!--</form>-->

        <!--</div>-->
        
        <div class="span12" align="center">
        	<div class="contact-details">
        		<h3>Contact Details</h3>
                <ul>
                    <li><a href="mailto:haxoft@gmail.com">haxoft@gmail.com</a></li>
                    <li>
                        Technische Universität Chemnitz
                        <br>
                        Straße der Nationen 62
                        <br>
                        09111 Chemnitz
                        <br>
                        Germany
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="social-area" class="page">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <nav id="social">
                        <ul>
                            <li><a href="https://twitter.com/haxoftsystems" title="Follow Us on Twitter"
                                   target="_blank"><span class="font-icon-social-twitter"></span></a></li>
                            <li><a href="https://www.facebook.com/haxoft/" title="Follow Us on Facebook"
                                   target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- End Contact Form -->
</div>
</div>
<!-- End Contact Section -->

<!-- Twitter Feed -->
<!-- <div id="twitter-feed" class="page-alternate">
	<div class="container">
    	<div class="row">
            <div class="span12">
                <div class="follow">
                    <a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><i class="font-icon-social-twitter"></i></a>
                </div>
                    
                <div id="ticker" class="query"> 
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Twitter Feed -->

<!-- Socialize -->
<!--<div id="social-area" class="page">-->
	<!--<div class="container">-->
    	<!--<div class="row">-->
            <!--<div class="span12">-->
                <!--<nav id="social">-->
                    <!--<ul>-->
                        <!--<li><a href="https://twitter.com/haxoftsystems" title="Follow Us on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>-->
                        <!--<li><a href="https://www.facebook.com/haxoft/" title="Follow Us on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- End Socialize -->

<!-- Footer -->
<footer>
  <a class="pull-left impressum" href="impressum.html">Impressum</a>
	<p class="credits">&copy;2016 HAXOFT. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>