<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Haxoft | Software Solutions</title>

<meta name="description" content="Project website created within the module Planspiel Web Engineering, at TU Chemnitz." />

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900|Audiowide' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" type="image/png" href="_include/img/logo/HaXoft.png">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

<!-- Analytics -->
<!--<script type="text/javascript">-->

  <!--var _gaq = _gaq || [];-->
  <!--_gaq.push(['_setAccount', 'Insert Your Code']);-->
  <!--_gaq.push(['_trackPageview']);-->

  <!--(function() {-->
    <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
    <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
    <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
  <!--})();-->

<!--</script>-->
<!-- End Analytics -->

</head>

<body>

<!-- This section is for Splash Screen -->
<!--<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">
    <div class="overlay"></div>

    <div class="slider-text">
    	<div id="slidecaption"></div>
    </div>

	<div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>

        <a id="nextsection" href="#values"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

        <div id="logo">
        	<a id="goUp" href="index.html" title="HAXOFT | Software Solutions">HAXOFT</a>
        </div>

        <nav id="menu">
        	<ul id="menu-nav">
            	<li><a href="index.html" class="external">Home</a></li>
				<li><a href="index.html#hxt" class="external">HXT</a></li>
                <li><a href="index.html#values" class="external">Our Values</a></li>
                <li><a href="index.html#about" class="external">About Us</a></li>
                <li><a href="index.html#contact" class="external">Contact</a></li>
				<!--<li><a href="shortcodes.html" class="external">Shortcodes</a></li>-->
            </ul>
        </nav>

    </div>
</header>
<!-- End Header -->

<div class="page" id="log">
  <div class="container">
      <!-- Title Page -->
      <div class="row">
          <div class="span12">
              <div class="title-page">
                  <h2 class="title">Weekly Log</h2>
              </div>
          </div>
      </div>
      <!-- End Title Page -->
      <div id="logs">
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">9th until 15th November '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=left>
                        <p>THIS SECTION IS IN DEVELOPEMENT!!!
                            We gonna have a great time hereby!!
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">2nd until 8th November '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=left>
                        <p>Unfortunately no new things came up in our planspiel meeting. Afterwards it seemed to be a bit as we are standing directly at the same place as before.
                            Because we talked about LFA as it would be new to us all. So we got it explained, but we, at least everyone of our team, read the paper, which was
                            the source of the hole meeting, already infront of the meeting. What we all thought was a hometask, so the whole meeting was somehow a bit unnecessary.
                            The problems we are heading for should presented to us next week, as Prof. Gaedke told us. Actually already on monday after our presentations.
                            Those presentations of our understanding of LFA were the next step we should present, so we worked in the week especially on the presentation.
                            Hence we sit together and prepared us to bring in a nice looking and well formed presentation of some examples of LFA.
                            Therefore we prepared a nice example and draw the appropriated analysis diagrams of LFA and built a correlating Logframe.
                            Also we spend some time for achieving a presentation layout that somehow correlates to our corporate design given by the template of our website.
                            Regrettably the presentation of our problems we shall solve was postponed from monday to wednesday at our presentation meeting at monday.
                            This was pretty good, because Frank had an important other appointment within is volunteer engagement in his hometown.
                            So we are heading of for the next meeting tomorrow, at the 9th November, to get finally some problems we can solve.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">26th October - 1st November '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=left>
                        <p>In this week we presented our values in the planspiel meeting. Moreover Prof. Gaedke told us that we need to get knowledge
                            about the model of the logical framework approach (LFA) before we can have an actual problem, wherefore we then can develop a solution that matters.
                            Well, we, the Haxoft team, are not sure right now that there will be some industry partners working with us students at all.
                            In the beginning of the planspiel we heard that there will be some partners from the industry, so that each team will really develop a solution that matters.
                            But it is a bit confusing that we are already talking in the offical planspiel meetings about company missions and visions without any connection to a real problem.
                            Also it seems not to be clear if one company will really share one of their problems according to intellectual property laws in Germany.
                            Nevertheless we started the week with some research about LFA and looking forward to those problems a real company partner have, where we will help them.
                            Moreover everyone of us played a bit with example data and LFA to get a better understanding how this should work.
                            While also fixing some more detail issues at the logo of Haxoft and some issues of our homepage, we order a project directory at an university webserver.
                            Within such a webserver the domain 'haxoft.tu-chemnitz.de' could be included, what is definitely a better rememberable link to our page.
                            Unfortunately whole idea of getting such a webserver or at least an own virtual machine at those failed,
                            since we would have to coordinate the page with the Universitätskommunikation, use the corporate design of the TU Chemnitz and include a full time working
                            university stuff member as a responsible person for our homepage.
                            All this together brought us to the point, that we will hold our website at Luis' personal working directory of the university.
                            Moreover we started to tryout if we could include there our own personal chosen and rent URL.
                            As a last point we are really agog with expectation to the partners of the planspiel, who should presented to us within the next to weeks.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">19th - 25th October '16</h3>
                    <div class="span2"></div>i
                    <div class="span8 info-block" align=justify>
                        <p>
                        <br>This week had quite a good start due to the positive outcome of the first presentation of our work.
                            In the planspiel meeting this wednesday, every team was supposed to show what they have achieved.
                            For most of the teams this was obviously not a big amount of work, but nevertheless, we were able to
                            achieve a satisfactory outcome. When comparing with the other teams, we were able to confirm
                            that we have chosen among the best website designs in the class, and a nice looking logo.
                            This was obviously a positive boost to the teams enthusiasm and overall energy.
                            </br>
                            </br>
                            After wednesday meeting, the next step was to come up with the core values of our company.
                            After some online brainstorming sessions and individual thinking about which could be our core values,
                            we met personally on friday morning to bring our ideas together. Within this meeting we were able to
                            agree on 8 core values for Haxoft. After writing them down, we noticed that listing them somewhere might
                            give a higher importance to some values, while providing less to others. However, we agreed that
                            our core values should all be equally important. For this reason, we decided to arrange the values
                            into a circle, which you can currently see on the main page of the Haxoft website. Under the circle of values,
                            we display the description of the core value that has been selected by the website visitor.
                            <br/>
                            <br/>
                            Our team discussions during this week have been growing in size, as the tasks given by our prof. pile up.
                            The communication client Whatsapp seems not to be sufficient anymore, given the fact that all
                            conversations are in one big heap and finding important information about what has been discussed,
                            agreed upon, or rejected is very hard to find as time goes by. Then one of us remembered a tool
                            that was suggested by prof. Gaedke - "Slack". This neat team messaging tool allows you and your
                            teammates to communicate over the internet in a topic-based manner, among other nice features.
                            This turned out to be a good decision. We can already say that Slack has significantly contributed
                            to the improvement of our internal communication.
                            <br/>
                            As we promised last week, we have improved our company logo design. It now has a different shade of
                            red which is more in harmony with our website design, and we also removed some other minor flaws.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">12th - 18th October '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=justify>
                        <p>
                            We are starting our project for module "Planspiel Web Engineering", which will be further called
                            'planspiel' along this log.We created our team in the first planspiel session and mutually exchanged
                            our WhatsApp numbers.Our first task is to come up with a name and a logo for our newly created
                            team - which is easier said than done. After many discussions and brainstorming sessions we have
                            finally found common ground and decided for one name.
                            As you probably know now, we have decided to name our team and company - 'Haxoft'. But why Haxoft? <br/>
                            Haxoft is a composition of two words - hack and soft. While the reason for choosing soft is probably obvious,
                            the reason why we use 'hack' might not be so. The word „hack“ is used in many contexts nowadays,
                            but originally it means „to produce an ingenious piece of work that solves a meaningful problem“.
                            And that’s what we stand for: game-changing and reliable software that will give you advantage over
                            your competitors. Curiously enough, the name "Haxoft" was one of the first names that came into our mind.
                            One might therefore say we are using a rather spontaneous company name. To give you an example
                            of some of the names that we were considering, we provide you below a brief list with some of them: <br/>
                            <br/>
                            <ul>
                                <li>Hexoft</li>
                                <li>Coconut Technologies</li>
                                <li>BinaryCase</li>
                                <li>BinaryFactory</li>
                                <li>nerdsco</li>
                                <li>Physalis Systems</li>
                            </ul>
                            <br/>
                            As you can see, we had a few ideas for the company name and each of them had its own story
                            or "reason" behind it. As mentioned before, the better "ground story" and the most consensual
                            turned out to be Haxoft. <br/>
                            Apart from the tasks of coming up with a name and a logo, we were also asked to build a company
                            web site. Given the fact that there are no web-designers in our team, we decided to lookup a bootstrap
                            template that would have an appropriate "look and feel" to fit our new company name.
                            It didn't took us long and we decided to use the neat template 'BRUSHED' from an italian web-designer Alessio Atzeni.
                            While Luis and Frank filled into the template some initial company content, Valentin was dealing
                            with the design of the Haxoft logo. With the help of inkscape and a couple of youtube tutorials
                            he was able to create an x-cube logo as the visual representation of our company. The first version
                            came to life and it surely had its flaws, but we all agreed those would be removed during the next week.<br/>
                            Besides the Homepage, Frank also created a facebook and a twitter page. This way we aim to have more than one customer chanel.
                            At the end of the week, we created a Trello project and started to use this handy tool to manage our tasks.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
      </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <a class="pull-left impressum" href="impressum.html#impressum">Impressum</a>
	<p class="credits">&copy;2016 HAXOFT. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>