<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Haxoft | Software Solutions</title>

<meta name="description" content="Project website created within the module Planspiel Web Engineering, at TU Chemnitz." />

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900|Audiowide' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" type="image/png" href="_include/img/logo/HaXoft.png">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

</head>

<body>

<!-- This section is for Splash Screen -->
<!--<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">
    <div class="overlay"></div>

    <div class="slider-text">
    	<div id="slidecaption"></div>
    </div>

	<div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>

        <a id="nextsection" href="#values"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

        <div id="logo">
        	<a id="goUp" href="index.html" title="HAXOFT | Software Solutions">HAXOFT</a>
        </div>

        <nav id="menu">
        	<ul id="menu-nav">
            	<li><a href="index.html" class="external">Home</a></li>
				<li><a href="index.html#hxt" class="external">HXT</a></li>
                <li><a href="index.html#values" class="external">Our Values</a></li>
                <li><a href="index.html#about" class="external">About Us</a></li>
                <li><a href="index.html#contact" class="external">Contact</a></li>
				<!--<li><a href="shortcodes.html" class="external">Shortcodes</a></li>-->
            </ul>
        </nav>

    </div>
</header>
<!-- End Header -->

<div class="page" id="log">
  <div class="container">
      <!-- Title Page -->
      <div class="row">
          <div class="span12">
              <div class="title-page">
                  <h2 class="title">Weekly Log</h2>
              </div>
          </div>
      </div>
      <!-- End Title Page -->
      <div id="logs">
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">9th until 15th November '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=left>
                        <p>THIS SECTION IS IN DEVELOPEMENT!!!
                            We gonna have a great time hereby!!
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">2nd - 8th November '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=justify>
                        <p>Unfortunately and against our expectations, this weeks planspiel session didn't bring much new
                            information regarding the problem assignments. We left the session slightly disappointed
                            and with a feeling that we keep standing on the same spot, and not moving forward with the project.
                            The LFA tool was once more introduced by Prof. Gaedke, and since each one of us
                            had already read the sources, we took it as a revision of our knowledge. In the previous session,
                            all the teams were instructed to read the sources about LFA and therefore we felt that
                            the session was a bit wasted.
                            <br/>
                            <br/>
                            However, we did receive one good message from the Prof. - he announced that problem
                            assignments should be presented during the upcoming week, probably on Monday, after the presentations
                            of our current work. The presentations were supposed to contain each team's findings regarding the LFA and the
                            set of sub-tools each team would use to deal with the given assignment. This was the main content of our work
                            during this week. Having a target in front of us, we performed a couple of online brainstorming
                            sessions and finally created a nicely looking presentation containing some examples of the application
                            of LFA on imaginary problems. We also included some analytical diagrams and built a corresponding "log frame".
                            Moreover, we spent some time trying to align the presentation design with the Haxoft
                            "company design".
                            <br/>
                            <br/>
                            On Monday, the announcement of the problem assignments was postponed to Wednesday, which we accepted
                            with a slight disappointment. Despite the bad news, the shifting of the announcement fitted us in the sense
                            that our team was incomplete during this session since one of our team members (Frank) wanted to attend a
                            volunteer engagement in his hometown.
                            <br/>
                            We are looking forward to attending the next planspiel session tomorrow 9th November. We expect to finally
                            receive the problem assignments.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">26th October - 1st November '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=justify>
                        <p>In the planspiel session that took place this Wednesday, we presented the core company values
                            we established for Haxoft. Besides that, Prof. Gaedke announced that all the teams have to become familiar
                            with the logical framework approach (LFA). According to his instructions, this should be done before
                            any of the teams get their task assignments. The LFA should provide us with a framework that will guide us during
                            the development of the project and to increase the chances that we eventually deliver a solution that matters.
                            <br/>
                            <br/>
                            Until now, we are not sure whether industry partners will be part of the project, or whether
                            our task will be of "internal" nature - as Prof. Gaedke mentioned in some previous sessions.
                            We were informed at the beginning of the planspiel module that it is likely, that an industry
                            partner (a company) will share with us a specific problem they face which could be solved with
                            a software solution. This way, we would be able to work on a solution for a real problem and
                            eventually deliver a software product that matters. However, no project or problem has been
                            assigned to us until now. This is quite confusing however, having in mind the fact that we
                            were asked to think and elaborate our companies mission and vision, without having a
                            connection to a real problem. Some of the issues Prof. Gaedke mentioned he
                            encountered while dealing with some companies, were some concerns regarding the intellectual
                            property laws in Germany.
                            <br/>
                            <br/>
                            Despite certain uncertainty with regard to the problem assignment, we started the week with
                            some research about LFA. This in hope the tool could eventually help us when dealing with our future
                            assignment. Each one of us read the sources about LFA provided by the Prof., and we were able
                            to get a solid insight into its main principles and the issues it tackles.
                            <br/>
                            <br/>
                            On the practical side of our work, we continued to improve some details of the company logo
                            and some minor issues on our company website. At this point, our website matured into a
                            publishable stage. We therefore contacted the computer network administration center of the university
                            and asked for a virtual webserver. This would allow us to publish our website, and to link the domain
                            'haxoft.tu-chemnitz.de' to the IP address of our group's web-space. However, due to university
                            restrictions, this attempt failed. According to the information they provided, we would have
                            to align our website design with the design specified by the TU-Chemnitz and indicate a full-time
                            working university employee who would be responsible for the website content. We were obviously
                            not willing to change our website design, and finding an employee who would be willing to take
                            responsibility for the website content would not be an easy task either. For this reason,
                            we decided to publish the website on a personal user web-space provided by the university.
                            We are currently looking closer into the possibility to rent a URL and link it to this private
                            directory.
                            <br/>
                            As for today, we are looking forward to find out whether we finally get a real problem from a
                            private company. We believe this might happen in the coming weeks.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">19th - 25th October '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=justify>
                        <p>
                        <br>This week had quite a good start due to the positive outcome of the first presentation of our work.
                            In the planspiel meeting this Wednesday, every team was supposed to show what they have achieved.
                            For most of the teams this was obviously not a big amount of work, but nevertheless, we were able to
                            achieve a satisfactory outcome. When comparing with the other teams, we were able to confirm
                            that we have chosen among the best website designs in the class, and a nice looking logo.
                            This was obviously a positive boost to the team's enthusiasm and overall energy.
                            </br>
                            </br>
                            After Wednesday meeting, the next step was to come up with the core values of our company.
                            After some online brainstorming sessions and individual thinking about which could be our core values,
                            we met personally on Friday morning to bring our ideas together. Within this meeting, we were able to
                            agree on 8 core values for Haxoft. After writing them down, we noticed that listing them somewhere might
                            give a higher importance to some values while providing less to others. However, we agreed that
                            our core values should all be equally important. For this reason, we decided to arrange the values
                            into a circle, which you can currently see on the main page of the Haxoft website. Under the circle of values,
                            we display the description of the core value that has been selected by the website visitor.
                            <br/>
                            <br/>
                            Our team discussions during this week have been growing in size, as the tasks given by our prof. pile up.
                            The communication client Whatsapp seems not to be sufficient anymore, given the fact that all
                            conversations are in one big heap and finding important information about what has been discussed,
                            agreed upon, or rejected is very hard to find as time goes by. Then one of us remembered a tool
                            that was suggested by prof. Gaedke - "Slack". This neat team messaging tool allows you and your
                            teammates to communicate over the internet in a topic-based manner, among other nice features.
                            This turned out to be a good decision. We can already say that Slack has significantly contributed
                            to the improvement of our internal communication.
                            <br/>
                            As we promised last week, we have improved our company logo design. It now has a different shade of
                            red which is more in harmony with our website design, and we also removed some other minor flaws.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">12th - 18th October '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=justify>
                        <p>
                            We are starting our project for module "Planspiel Web Engineering", which will be further called
                            'planspiel' along this log.We created our team in the first planspiel session and mutually exchanged
                            our WhatsApp numbers.Our first task is to come up with a name and a logo for our newly created
                            team - which is easier said than done. After many discussions and brainstorming sessions, we have
                            finally found common ground and decided for one name.
                            As you probably know now, we have decided to name our team and company - 'Haxoft'. But why Haxoft? <br/>
                            Haxoft is a composition of two words - hack and soft. While the reason for choosing soft is probably obvious,
                            the reason why we use 'hack' might not be so. The word „hack“ is used in many contexts nowadays,
                            but originally it means „to produce an ingenious piece of work that solves a meaningful problem“.
                            And that’s what we stand for: game-changing and reliable software that will give you an advantage over
                            your competitors. Curiously enough, the name "Haxoft" was one of the first names that came to our mind.
                            One might, therefore, say we are using a rather spontaneous company name. To give you an example
                            of some of the names that we were considering, we provide you below a brief list with some of them: <br/>
                            <br/>
                            <ul>
                                <li>Hexoft</li>
                                <li>Coconut Technologies</li>
                                <li>BinaryCase</li>
                                <li>BinaryFactory</li>
                                <li>nerdsco</li>
                                <li>Physalis Systems</li>
                            </ul>
                            <br/>
                            As you can see, we had a few ideas for the company name and each of them had its own story
                            or "reason" behind it. As mentioned before, the better "ground story" and the most consensual
                            turned out to be Haxoft. <br/>
                            Apart from the tasks of coming up with a name and a logo, we were also asked to build a company
                            web site. Given the fact that there are no web-designers in our team, we decided to lookup a bootstrap
                            template that would have an appropriate "look and feel" to fit our new company name.
                            It didn't took us long and we decided to use the neat template 'BRUSHED' from an italian web-designer Alessio Atzeni.
                            While Luis and Frank filled into the template some initial company content, Valentin was dealing
                            with the design of the Haxoft logo. With the help of inkscape and a couple of youtube tutorials
                            he was able to create an x-cube logo as the visual representation of our company. The first version
                            came to life and it surely had its flaws, but we all agreed those would be removed during the next week.<br/>
                            Besides the Homepage, Frank also created a facebook and a twitter page. This way we aim to have more than one customer chanel.
                            At the end of the week, we created a Trello project and started to use this handy tool to manage our tasks.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
      </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <a class="pull-left impressum" href="impressum.html#impressum">Impressum</a>
	<p class="credits">&copy;2016 HAXOFT. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>