<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Haxoft | Software Solutions</title>

<meta name="description" content="Project website created within the module Planspiel Web Engineering, at TU Chemnitz." />

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->

<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">

<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">

<!-- Google Font -->
<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900|Audiowide' rel='stylesheet' type='text/css'>

<!-- Fav Icon -->
<link rel="shortcut icon" type="image/png" href="_include/img/logo/HaXoft.png">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>

<!-- Analytics -->
<!--<script type="text/javascript">-->

  <!--var _gaq = _gaq || [];-->
  <!--_gaq.push(['_setAccount', 'Insert Your Code']);-->
  <!--_gaq.push(['_trackPageview']);-->

  <!--(function() {-->
    <!--var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
    <!--ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
    <!--var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
  <!--})();-->

<!--</script>-->
<!-- End Analytics -->

</head>

<body>

<!-- This section is for Splash Screen -->
<!--<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">
    <div class="overlay"></div>

    <div class="slider-text">
    	<div id="slidecaption"></div>
    </div>

	<div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>

        <a id="nextsection" href="#values"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

        <div id="logo">
        	<a id="goUp" href="index.html" title="HAXOFT | Software Solutions">HAXOFT</a>
        </div>

        <nav id="menu">
        	<ul id="menu-nav">
            	<li><a href="index.html" class="external">Home</a></li>
				<li><a href="index.html#hxt" class="external">HXT</a></li>
                <li><a href="index.html#values" class="external">Our Values</a></li>
                <li><a href="index.html#about" class="external">About Us</a></li>
                <li><a href="index.html#contact" class="external">Contact</a></li>
				<!--<li><a href="shortcodes.html" class="external">Shortcodes</a></li>-->
            </ul>
        </nav>

    </div>
</header>
<!-- End Header -->

<div class="page" id="log">
  <div class="container">
      <!-- Title Page -->
      <div class="row">
          <div class="span12">
              <div class="title-page">
                  <h2 class="title">Our weekly log</h2>
              </div>
          </div>
      </div>
      <!-- End Title Page -->
      <div id="logs">
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">9th until 15th November '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=left>
                        <p>THIS SECTION IS IN DEVELOPEMENT!!!
                            We gonna have a great time hereby!!
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">2nd until 8th November '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=left>
                        <p>THIS SECTION IS IN DEVELOPEMENT!!!
                            We gonna have a great time hereby!!
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">26th October until 1st November '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=left>
                        <p>In this week we presented our values in the planspiel meeting. Moreover Prof. Gaedke told us that we need to get knowledge
                            about the model of the logical framework approach (LFA) before we can have an actual problem, wherefore we then can develop a solution that matters.
                            Well, we, the Haxoft team, are not sure right now that there will be some industry partners working with us students at all.
                            In the beginning of the planspiel we heard that there will be some partners from the industry, so that each team will really develop a solution that matters.
                            But it is a bit confusing that we are already talking in the offical planspiel meetings about company missions and visions without any connection to a real problem.
                            Also it seems not to be clear if one company will really share one of their problems according to intellectual property laws in Germany.
                            Nevertheless we started the week with some research about LFA and looking forward to those problems a real company partner have, where we will help them.
                            Moreover everyone of us played a bit with example data and LFA to get a better understanding how this should work.
                            While also fixing some more detail issues at the logo of Haxoft and some issues of our homepage, we order a project directory at an university webserver.
                            Within such a webserver the domain 'haxoft.tu-chemnitz.de' could be included, what is definitely a better rememberable link to our page.
                            Unfortunately whole idea of getting such a webserver or at least an own virtual machine at those failed,
                            since we would have to coordinate the page with the Universitätskommunikation, use the corporate design of the TU Chemnitz and include a full time working
                            university stuff member as a responsible person for our homepage.
                            All this together brought us to the point, that we will hold our website at Luis' personal working directory of the university.
                            Moreover we started to tryout if we could include there our own personal chosen and rent URL.
                            As a last point we are really agog with expectation to the partners of the planspiel, who should presented to us within the next to weeks.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">19th until 25th October '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=left>
                        <p>The week started somehow very positve for us, due to the presentations of the tasks.
                            In the planspiel meeting at wednesday, every team showed what they got until now.
                            Of course this was not that much, but as a team we could say that we were very happy with our result
                            and in comparison to the other teams we agreed that we love our page more than any other team's page.
                            So this was a great push for the internal team mood.
                            As a next step for the week, we should create values for our company.
                            After everyone did some first research and thinking about what we want stand for, we met at friday morning to bring our ideas together.
                            Within this meeting we agreed on 8 core values our company Haxoft should include.
                            After writing them all down to one sheet of paper, we saw that ranking them could force them to be more or less important.
                            But as core values there should no value be more or less important than another one.
                            So ranking values or somehow write them in a list is not a way we want to deliver them.
                            Therefore we decided to create a circle of our 8 core values. With such a circle no ranking can influence them. Not even subconscious.
                            To have still a nice look and feel at our page we also included a description box below the circle to have only icons in the circle itself.
                            By making each icon in the circle clickable and only showing only one active value description in the box below, every user can experience our values on his own.
                            Moreover the circle is with only being made out of icons not that big and gives the user a nice play around possibilty while getting more information about us.
                            The meeting on friday of course only ended with a short summary of our 8 values and was not a final version, but a first draft.
                            Hence also the formulating of the final version gave us some discussion to fulfill every ones thoughts and ideas behind every value.
                            Moreover this week showed us, that using WhatsApp as a communication channel between us three is not perfect.
                            Of course we can chat there all together in a group, but the different dimensions of tasks and challenges we came to, were such different that
                            one timeline of chats or one room for chats was not anymore effective. Most times each next step in each domain needs a short discussion or mind connecting.
                            And we saw that this would end after week, but will continue in the future. In addition the domains will also move apart in progress,
                            thus every domain will be more and more on its seperated from the other ones.
                            Hence we needed a new tool for communicating remotely between us all.
                            Then we remembered Prof. Gaedke talking about the awesome tool slack. We did not used it before, but we wanted to give it a try.
                            So we created our own slack team and started to begin different channels for all different purposes we have.
                            This brought us directly a better overview over the whole situation we are in and improved our communication.
                            Moreover we worked on the improvement of our logo, as last week mentioned. The colors were a bit to bright and also some details were not fitting perfectly.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
          <div class="row margin-15">
                <div class="span12" align="center">
                    <h3 class="spec">12th until 18th October '16</h3>
                    <div class="span2"></div>
                    <div class="span8 info-block" align=left>
                        <p>We were about to start our project "Planspiel Web Engineering", which we further will call 'planspiel'.
                            We teamed us in the first meeting of the planspiel and connected us over WhatsApp.
                            Our first tasks was to give us a name and a logo. Easier said, than accomplished.
                            We had many discussions about the name and it wasn't easy to find a name that was cool for all of us three.
                            Finally in nearby the end of the week, we decided to name ourselfs 'Haxoft'. So why Haxoft? <br/>
                            Haxoft contains the word „hack“ which is used in many contexts nowadays.
                            But originally it meant „to produce an ingenious piece of work that solves a meaningful problem“.
                            And that’s what we stand for, gamechanging and reliable software that will give you an advantage over your competitors.
                            As a funfact, the name "haxoft" was one of the first ideas we had. So we can say we took one of our most spontanious ideas for our name.
                            Which will hopefully inspire us all over all the time.
                            To see what we also thought about, we can provide you a short list on ideas of ourselves. <br/>
                            <ul>
                                <li>Hexoft</li>
                                <li>Coconut Technologies</li>
                                <li>BinaryCase</li>
                                <li>BinaryFactory</li>
                                <li>nerdsco</li>
                                <li>Physalis Systems</li>
                            </ul>
                            So you can see, we had a few ideas for our name, and every name has somehow is one story, but the most connecting one for us was, as mentioned, Haxoft.
                            What we did not mentiond until now, was that we also had to give our company directly an own website.
                            Therefore we serached for a bootstrap template to have a nice look and feel at our website from the very first beginbing of its 'life'.
                            We were pretty fast on this decision and decided to take the template BRUSHED by Alessio Atzeni.
                            Whereby Luis and Frank started to deliver our website to the internet, Valentin started to learn how he can create a logo for Haxoft.
                            With inkscape and a few good youtube tutorials he created our known x-cube as the visualization of our company.
                            At least he developed a first version. Which we all agreed on had to improve by the next week.
                            Beside of the Homepage Frank also created our facebook and twitter page, so that we can directly start to have more than one customer channel.
                            As one of the last parts in the week, we started to use Trello to organize our own tasks.
                        </p>
                    </div>
                    <div class="span2"></div>
                </div>
          </div>
      </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <a class="pull-left impressum" href="impressum.html#impressum">Impressum</a>
	<p class="credits">&copy;2016 HAXOFT. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


<!-- Js -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

</body>
</html>